<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>编辑界面</title>
    <link href="css/style.css" rel="stylesheet">
    <link href="css/edit.css" rel="stylesheet">
</head>
<body>
<div class="xk-edit-nav clearfix1">
    <ul class="hand">
        <li>保存全局</li>
        <li>导出动态条漫</li>
        <li>上一步</li>
        <li>下一步</li>
        <li>预览全篇</li>
        <li class="fl_right">返回我的动态条漫</li>
    </ul>
</div>
<div class="xk-edit-edit clearfix1">
    <div class="xk-edit-left">
        <ul class="xk-edit-left-top hand">
            <li><span>移动</span><span>缩放</span><span>透明度</span></li>
            <li><span>淡入</span><span>淡出</span></li>
            <li><span>闪烁</span><span>旋转</span><span>漂浮</span><span>摇晃</span><span>逐帧</span></li>
            <li><span>音效（仅对组件有效）</span></li>
        </ul>
        <div class="xk-edit-left-center">
            <span>动效设置</span>
            <span class="float_right hand">删除</span>
        </div>
        <ul class="xk-edit-left-bottom">
            <li>
                <p><span class="hand">动效说明</span><span class="float_right hand">闪烁</span></p>
                <div class="xk-edit-left-nav"></div>
            </li>
        </ul>
    </div>
    <div class="xk-edit-center">
        <div class="xk-edit-center-top">
            <div class="float_left"><span class="hand">新建page</span><span class="hand">插入page</span><span class="hand">插入背景音乐（仅对page有效）</span></div>
            <div class="float_right">缩小<input type="range" value="50">放大<span class="hand">预览选中的page</span></div>
        </div>
        <div class="xk-edit-center-page">
            <ul>
                <li>
                    <p><span class="float_left">page-1</span><span class="float_right"><span class="hand">高度设置</span><span class="hand">设置背景图</span><span class="hand">删除</span></span></p>
                    <div class="xk-edit-center-page-page"></div>
                </li>
                <li>
                    <p><span class="float_left">page-1</span><span class="float_right"><span class="hand">高度设置</span><span class="hand">设置背景图</span><span class="hand">删除</span></span></p>
                    <div class="xk-edit-center-page-page"></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="xk-edit-right clearfix1">
        <div class="xk-edit-right-nav clearfix1">
            <h4 class="hand">动效组件</h4>
            <h4 class="hand">音效组件</h4>
            <span class="hand">导入组件</span>
            <span class="hand">删除组件</span>
        </div>
        <ul>
            <li>
                <div class="xk-edit-right-top">
                    <div class="xk-edit-right-img"></div>
                    <span class="float_left">组件名称</span>
                    <span class="float_right"></span>
                </div>
                <div class="xk-edit-right-data">
                    <p><span>W:200px</span><span class="float_right">H:400px</span></p>
                    <p><span>类型：JPG</span><span class="float_right">大小:20kb</span></p>
                </div>
            </li>
            <li>
                <div class="xk-edit-right-top">
                    <div class="xk-edit-right-img"></div>
                    <span class="float_left">组件名称</span>
                    <span class="float_right"></span>
                </div>
                <div class="xk-edit-right-data">
                    <p><span>W:200px</span><span class="float_right">H:400px</span></p>
                    <p><span>类型：JPG</span><span class="float_right">大小:20kb</span></p>
                </div>
            </li>
        </ul>
        <div class="xk-edit-right-nav clearfix1">
            <h4 class="hand">图层</h4>
            <h4 class="hand">音效组件</h4>
            <span class="hand float_right">删除图层</span>
        </div>
        <ul>
            <li>
                <div class="xk-edit-right-top">
                    <div class="xk-edit-right-img"></div>
                    <span class="float_left">图层名称</span>
                    <span class="float_right"></span>
                </div>
                <div class="xk-edit-right-data">
                    <p><span>W:200px（可修改）</span><span class="float_right">H:400px（可修改）</span></p>
                    <p><span>X:20px（可修改）</span><span class="float_right">Y:40px（可修改）</span></p>
                </div>
            </li>
            <li>
                <div class="xk-edit-right-top">
                    <div class="xk-edit-right-img"></div>
                    <span class="float_left">图层名称</span>
                    <span class="float_right"></span>
                </div>
                <div class="xk-edit-right-data">
                    <p><span>W:200px（可修改）</span><span class="float_right">H:400px（可修改）</span></p>
                    <p><span>X:20px（可修改）</span><span class="float_right">Y:40px（可修改）</span></p>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>