<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/author.css" rel="stylesheet">
</head>
<body>
    <div class="xk-user-header clearfix1">
        <div class="xk-user-user">
            <div class="xk-user-img"></div>
            <h3>用户名</h3>
            <p>合作作者</p>
        </div>
        <ul>
            <li class="hand">我的动态条漫</li>
            <li class="hand">账号管理</li>
            <li class="hand">退出登录</li>
        </ul>
    </div>
    <div class="xk-user-works clearfix1">
        <div class="xk-user-titel padding_left"><h3>画诡</h3></div>
        <div class="xk-user-cartoon padding_left">
            <button class="hand">新建单话</button>
            <ul>
                <li>
                    <div class="xk-user-content border_bottom">
                        <p><span class="hand">预览</span><span class="float_right hand">编辑</span></p>
                        <p class="posibot hand">删除</p>
                    </div>
                    <p class="border_bottom"><span>画诡</span><span class="float_right">第一话</span></p>
                    <p>最后：2017-12-30 16：15：00</p>
                </li>
                <li>
                    <div class="xk-user-content border_bottom">
                        <p><span class="hand">预览</span><span class="float_right hand">编辑</span></p>
                        <p class="posibot hand">删除</p>
                    </div>
                    <p class="border_bottom"><span>画诡</span><span class="float_right">第一话</span></p>
                    <p>最后：2017-12-30 16：15：00</p>
                </li>
                <li>
                    <div class="xk-user-content border_bottom">
                        <p><span class="hand">预览</span><span class="float_right hand">编辑</span></p>
                        <p class="posibot hand">删除</p>
                    </div>
                    <p class="border_bottom"><span>画诡</span><span class="float_right">第一话</span></p>
                    <p>最后：2017-12-30 16：15：00</p>
                </li>
                <li>
                    <div class="xk-user-content border_bottom">
                        <p><span class="hand">预览</span><span class="float_right hand">编辑</span></p>
                        <p class="posibot hand">删除</p>
                    </div>
                    <p class="border_bottom"><span>画诡</span><span class="float_right">第一话</span></p>
                    <p>最后：2017-12-30 16：15：00</p>
                </li>
                <li>
                    <div class="xk-user-content border_bottom">
                        <p><span class="hand">预览</span><span class="float_right hand">编辑</span></p>
                        <p class="posibot hand">删除</p>
                    </div>
                    <p class="border_bottom"><span>画诡</span><span class="float_right">第一话</span></p>
                    <p>最后：2017-12-30 16：15：00</p>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>