<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>regiter</title>
</head>
<body>
<form action="register" method="post">
    用户名：<input type="text" name="username"><br>
    密码：<input type="password" name="password"><br>
    重复密码：<input type="password" name="checkpass"><br>
    手机：<input type="text" name="phone"><br>
    邮箱：<input type="email" name="email"><br>
    职业：<select name="job">
             <option value="学生">学生</option>
             <option value="漫画家" selected>漫画家</option>
             <option value="程序员">程序员</option>
        </select><br>
    <input type="submit" value="注册">
</form>

</body>
</html>